.name {
  font-size: 25px;
  font-family: cursive;
  font-style: inherit;
  color: #1295d7;
}
.Background {
  position: relative;
  background: white;
  background-size: cover;
  background-position: center;
  height: 225vh;
  margin-top: -5px;
  margin-bottom: -50px;
}
.Buttons {
  display: flex;
  flex: flex-wrap;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
.userCard {
  padding: 5px;
  margin: 15px;
  background-color: "white";
  cursor: "pointer";
  text-align: "center";
}

.toggle {
  text-align: center;
  padding: 20px;
  margin: 30px;
}